.datepicker-desktop {

}

.datepicker-desktop input {
    width: 90% !important;
    float: left;
}

.datepicker-desktop a {
    float: left;
    border-bottom: none !important;
}

.datepicker-desktop a img {
    height: 41px !important;
}

.datepicker-desktop .clear {
    clear: both;
}
